/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

code {
    background: rgba(116, 4, 221, .2);
    color: #7404DD;
    font-size: 16px;
    padding: 3px 4px;
    margin: 0 2px;
    border: none;
    border-radius: 1px;
    overflow: scroll;
    font-weight: 400;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
}

pre code {
    font-size: 13px;
    word-wrap: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    padding: 16px;
    padding-bottom: 14px;
    display: block;
    color: #999;
    background: rgba(255, 255, 255, .05);
    background: rgba(0, 0, 0, .3);
    border: none;
    overflow: auto;
    border-radius: 0;
    font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    font-size: 16px;
}

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #444;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
  color: #c42847;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
  color: #A1EF8B;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
  color: #92D5E6;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #8959a8;
  color: #7404DD;
}

code.hljs {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
